* {
  font-family: $font;
  color: $color-main;
}

#app {
  width: 700px;
  margin: 0 auto;
}

.heading {
  position: relative;
  font-family: $font-heading;
  margin: 50px 0 30px;
  text-align: center;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
}

.spot-wrap {
  margin: 3px;
  @for $i from 13 through 24 {
    &:nth-of-type(24n+#{$i}) {
      position: relative;
      left: 27px;
      bottom: 15px;
      margin-bottom: -27px;
    }
  }
}
.spot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  * {
    color: #fff;
  }
  &.empty {
    cursor: pointer;
    @include hexagon($color-spot);
    &:hover {
      @include hexagon($gray-40);
    }
  }
  &.highlight {
    @include hexagon($gray-10);
  }
  &.p1 {
    @include hexagon($color-p1);
    &:hover {
      @include hexagon($color-p1);
    }
  }
  &.p2 {
    @include hexagon($color-p2);
    &:hover {
      @include hexagon($color-p2);
    }
  }
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 30px 0;
  font-size: 20px; 
  p {
    margin: 0;
  }
  .turn {
    cursor: default;
    transition: none;
    &:before,
    &:after {
      transition: none;
    }
  }
  [class*='score'] {
    display: flex;
    flex-direction: column;
  }
  .score-p1 {
    .heading,
    .value {
      color: $color-p1;
    }
  }
  .score-p2 {
    .heading,
    .value {
      color: $color-p2;
    }
  }
  .heading {
    font-size: 18px;
    margin: 0;
  }
  .value {
    color: $color-main;
    font-weight: 500;
    font-size: 20px;
  }
  .turn-status {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .result {
    font-family: $font-heading;
    color: $color-main;
    font-size: 18px;
  }
}

.key {
  position: absolute;
  bottom: -7px;
  z-index: 9;
  font-size: 12px;
  line-height: 12px;
  color: $color-main;
  padding: 0 2px;
  border-radius: 2px;
  pointer-events: none;
}
.p1,
.p2 {
  .key {
    background-color: rgba(#fff, 0.7);
  }
}

$status-ht: 12px;
.server-status {
  display: flex;
  align-items: center;
  height: $status-ht;
  font-size: $status-ht;
  line-height: $status-ht;
  position: absolute;
  top: 18px;
  left: 16px;
  .indicator {
    width: $status-ht - 4px;
    height: $status-ht - 4px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    margin: 0 3px 0 6px;
  }
}